/* Smartphones (600px para baixo) */




@media screen and (max-width: 798px) {
    
.titulo{
    background-image: url(imagens/img-background-p.jpg);
    width: 100%;
    background-size: cover;
} 

ul{
    display: none;
}
nav{
    background-color: #8cd7ffad;
    text-align: center;
    position: sticky;
    top: -1px;
}
#burger{ 
    display: block;
    margin: auto; 
}
main{
    width: 100%;
    height: 1400px;
    margin: auto;
    padding: 0px;
    align-items: center; 
}
.fora{
    width:97% ;
    flex-direction: column;
    text-align: center;  
    
}
.redondo{
    display: flexbox;
    flex-direction: column;
    text-align: center;
    width: 98%;
    margin-bottom: 18%;
  
}
.redondo img{
    text-align: center;
    padding: 0px;
    height: 100%;
    width: 190px;    
}

footer {
    padding: 7px;
    width: 96%;
    height: 100%;
}
footer p{
    margin: 0px;
    padding: 10px;
}
.redesocial{  
    display: none;
}

}


